@{
    ViewData["Title"] = "Home Page";
}

<section class="hero">
    <div class="hero-content">
        <h1>Welcome to UniThrift</h1>
        <p>Buy, sell, and trade within in your college community</p>
        <div class="hero-buttons">
            <a asp-controller="Listings" asp-action="Index" class="hero-btn">Browse</a>
            <a asp-controller="Listings" asp-action="Create" class="hero-btn">Sell</a>
        </div>
    </div>
</section>

<section class="features">
</section>

<section class="about">
</section>